/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

/* src/App.css */
.App {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #0b0c10;
  color: #fff;
}
